<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Identity Number Input Validation</h1>
</div>
<div *ngIf="error" class="alert alert-danger" role="alert">
  {{error.error}}
</div>
<div *ngIf="success" class="alert alert-success" role="alert">
  Identity Numbers processed successfully, {{success.validIdentityNumbers.length}} valid and {{success.invalidIdentityNumbers.length}} invalid.
</div>
<div class="card mb-3">
  <div class="card-header">
    <strong>Please enter one or more SA Identity Numbers</strong>
  </div>
  <div class="card-body">
    <div class="input-group mb-3" *ngFor="let item of identityNumbers; let i = index">
      <input class="form-control" type="number" placeholder="Identity Number" [(ngModel)]="identityNumbers[i]" />
      <div class="input-group-append" *ngIf="i == 0">
        <button class="btn btn-success" (click)="addIdentityNumber(i)">+</button>
      </div>
      <div class="input-group-append" *ngIf="i > 0">
        <button class="btn btn-danger" (click)="removeIdentityNumber(i)">&nbsp;-</button>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="identityNumbers[0] == null ? true : null" (click)="validateIdentityNumbers()">Validate</button>
  </div>
</div>
<ngb-tabset>
  <ngb-tab title="Valid Identity Numbers">
    <ng-template ngbTabContent>
      <app-identity-numbers-valid></app-identity-numbers-valid>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Invalid Identity Numbers">
    <ng-template ngbTabContent>
      <app-identity-numbers-invalid></app-identity-numbers-invalid>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
